*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    /* border: 1px solid #525550 ; */
    border-radius: 3px;
    margin-bottom: 1px;
    max-width: 1170px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.nav{
    background-color: #52ec23;
    height: 40px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    
}

.logo{
    
    /* background-color: blue; */
    margin-left: 20px;
    padding: 10px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1170px;
    
}

.menu{
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.menu a{
    display: block;
    line-height: 45px;
    background-color: chartreuse;
    padding: 0 25px;
    text-decoration: none;
    color: white;
    border-radius: 0 10px ;
    margin-right: 10px;
}

.menu a:hover{
    background-color: chocolate;
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.content-kiri{
    flex-grow: 2.5;
    border-right: 1px solid #525550 ;
    box-sizing: border-box;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.menu-makanan{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.menu-makanan div{
    height: 300px;
    width: 30%;
    flex-grow: 2;
    margin: 20px;
    border: 1px solid #525550 ;
    border-radius: 25px 0;
    box-shadow: 10px 8px rgb(63, 61, 61);
}

.content-kanan{
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    height: 250px;
}



.content-wrapper{
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}
.cards{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    
}

.card {
    border: 1px solid blue;
    border-radius: 20px 0;
    padding: 15px;
    width: 18%;
    box-sizing: border-box;
}
.card div{
    flex-grow: 1;
    
}

.isi-footer{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}